# Betriebssystem-Müll
.DS_Store
Thumbs.db

# Editor-Einstellungen
.vscode/
.idea/

# Ignoriere hochgeladene Audiodateien (damit das Repo klein bleibt)
src/uploads/
src/config/db.php

uploads/*
!uploads/.gitkeep
